img{
    width: 200px;
    height: auto;
}
.dadosGerais__info{
    width: 400px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
        
}
.dadosGerais{
    font-family: Poppins;            
}

.dadosGerais__boletim, .dadosGerais__epidemologico{    
    background-image: linear-gradient(90deg, rgba(54,0,0,1) 0%, rgba(121,9,9,1) 34%, rgba(255,0,0,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    font-size: 40px;
}
p{
    font-size: 25px;
}

